doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        <link rel="stylesheet" href="/style">
        title Document
    body
       .centered
            ul
                li: a(href='/') home
                li: a(href='/users') users
            -
            ul
                each student in students
                    li(onClick='deleteUser()') #{student.name} né le #{student.birth} 
                        button.kill(type="submit") X
    script.
            function deleteUser() {
                alert('delete')
            };
