doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        <link rel="stylesheet" href="/style">
        title Chat
    body
        main
            form
                <input type="text" name="pseudo" id="pseudo"/>
                <button>Connecter</button>
            table 
                tr
                    th.dark Chat room avec Socket.io
                    th 
                    th.name Bienvenu
                tr 
                    td.darkgray 
                        ul 
                            li.title_colone CHANNELS 
                            li 
                                a(href="#") General 
                            li 
                                a(href="#") Gaming 
                            li 
                                a(href="#") Random 
                    td
                        div
                            <input type="text" id="msg" placeholder="Tapez votre message ici ..." />
                            hr
                        div.right_colone 
                            
                    td  
                        div.users
                            p.title UTILISATEURS CONNECTER

    <script src="/socket.io/socket.io.js"></script>
    script.
        const socket = io.connect("/");

        //infos user.
        let userConnected = ""
        var nameP = document.querySelector('.name');
        var pseudo = document.querySelector('#pseudo');
        var boutonCon = document.querySelector('form button');
        //info message.
        var messages = document.querySelector('.right_colone');
        var input = document.getElementById('msg');
        var usersCo = document.querySelector('.users');
        //connexion user
        boutonCon.addEventListener('click',(e)=>{
            e.preventDefault()
            if (pseudo.value) {
                nameP.textContent = "Bienvenu "+pseudo.value;
                socket.emit('users connected',pseudo.value);
                userConnected = pseudo.value;
                nameP.style.color ="white";
                nameP.style.textDecoration="underline";
                pseudo.setAttribute('disabled', 'true');
                pseudo.value = ''
                boutonCon.setAttribute('disabled', 'true');

            }
        })

        input.addEventListener('keydown',(event)=>{
            if (event.key == "Enter") {              
                socket.emit('message send', {msg:input.value,user:userConnected});
                input.value = '';
            }
        })

        socket.on('users connected', function(tab_string) {
                //let tabUser = JSON.parse(tab_string);
        
                //for(const elem of tabUser){
                    var item = document.createElement('p');
                    item.style.marginTop = "5px";
                    item.textContent = tab_string;
                    usersCo.append(item);
               // }

        });

        socket.on('message send', function(entry) {
                var item = document.createElement('div');
                item.style.marginTop = "5px";
                var hr = document.createElement('hr');
                item.innerHTML = `
                            <span style="display:inline-block;color:white;padding:5px 10px;background-color:gray;border-radius:5px">${entry.user.toString()}</span>
                            <span style="display:inline-block;">: ${entry.msg.toString()}</span>
                `
                messages.append(item);
                messages.append(hr);
        });

