doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        <link rel="stylesheet" href="/style">
        title Chat
    body
        table 
            tr
                th.dark Chat room avec Socket.io
                th 
                th Bienvenu #{user.name}
            tr 
                td.darkgray 
                    ul 
                        li.title_colone CHANNELS 
                        li 
                            a(href="#") General 
                        li 
                            a(href="#") Gaming 
                        li 
                            a(href="#") Random 
                td
                    div.right_colone 
                        <input type="text" id="msg" placeholder="Tapez votre message ici ..." />
                        <button class="send">Send</button>
                        hr
                td  
                    div.users
                        p.title UTILISATEURS CONNECTER

    <script src="/socket.io/socket.io.js"></script>
    script.
        const socket = io();
        var messages = document.querySelector('.right_colone');
        var input = document.getElementById('msg');
        var bouton = document.querySelector('.send');

        bouton.addEventListener('click',(e)=>{
            if (input.value) {
                var item = document.createElement('p');
                item.textContent = input.value;
                socket.emit('chat message', input.value);
                messages.append(item);
                input.value = '';
            }
        })
